/* ปรับขนาดของหน้าเว็ปให้เต็มพื้นที่ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-bg {
    background-image: url('https://pkru.ac.th/images/info/map.png');
    height: 644px;
    width: 100%;
}

/* Map page */
iframe{
    width: 100%;
    height: 90vh;
    border: 1px solid #eee;
}

